<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
  </head>
  <body>
    <h1>Blogs</h1>

    <h2>this is link : <%= number %></h2>

    <!-- <button onClick="getBlogs()">Get Blogs</button> -->

    <ul id="blogs">
      <!-- <li>
        <h2>Blog title 1</h2>
        <p>blog content</p>
      </li>
      <li>
        <h2>Blog title 1</h2>
        <p>blog content</p>
      </li>
      <li>
        <h2>Blog title 1</h2>
        <p>blog content</p>
      </li>
      <li>
        <h2>Blog title 1</h2>
        <p>blog content</p>
      </li>
      <li>
        <h2>Blog title 1</h2>
        <p>blog content</p>
      </li> -->
    </ul>

    <!-- <script src="script.js"></script> -->
  </body>
</html>
